<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row justify-content-center">
      <h3 class="display-4">Welcome to Docufilm!</h3>
      <p class="lead">ここはあなたが観た映画を記録したり、閲覧したりすることが場所です。</p>
    </div>
  </div>
  <div class="album py-5 bg-light">
    <div class="container marketing">
      <div class="row">
        <div class="col-lg-4 text-center">
            <img class="rounded-circle"><i class="fas fa-edit fa-3x"></i></img>
            <h4>記録する</h4>
            <p>今まで観た映画の感想や評価を自由に投稿できます。</p>
        </div>
        <div class="col-lg-4 text-center">
            <img class="rounded-circle"><i class="fas fa-search fa-3x"></i></img>
            <h4>探す</h4>
            <p>今まで観た映画の感想や評価を自由に投稿できます。</p>
        </div>
        <div class="col-lg-4 text-center">
            <img class="rounded-circle"><i class="fas fa-comment fa-3x"></i></img>
            <h4>伝える</h4>
            <p>今まで観た映画の感想や評価を自由に投稿できます。</p>
        </div>
      </div>
    </div>
  </div>
</div>
